#Car price prediction/
Car price prediction/data.csv
#Electrocardiograms/
Electrocardiograms/data/
Fraud detection/
#Houses-Kaggle-Competition/
Houses-Kaggle-Competition/data/
KNN/
NLP - Movie-Reviews/
NLP-Facebook-Prophet/
#NLP-LDA/
NLP-Review-Investigation/
SARIMAX/
